#principal{
	width: 900px;
	height: 1500px;
	border: 1px solid #000;
	margin: auto;
	background-color: #7FB3D5;

}
#curso{
	
	background-color: #AED6F1 ;
	
}
#titulo{
	background-color: #AED6F1 ;

}
#datos{
	background-color: #EAFAF1 ;
}
